
<div class="container">
  <div class="row">
    <h3>Relevent Links</h3>
    <div class="col-sm-3"><a href="https://github.com/erlaroche">GitHub Link</a></div>
    <div class="col-sm-3"><a href="https://twitter.com/GoddessInnana">Twitter Link</a></div>
    <div class="col-sm-3"><a href="https://www.linkedin.com/in/emma-laroche-8b91113a">LinkedIn Profile</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Recent Projects</h3>
    <div class="col-md-3"><a href="http://misscarolsballetboutique.herokuapp.com/">Miss Carols Ballet Boutique</a>
    </div>
    <div class="col-md-6"><a href="http://itascaisdlessons.herokuapp.com/">Itasca ISD Coding Lessons</a></div>
    <div class="col-md-3"><a href="http://cyoungpllc.herokuapp.com/">Landing page for Law Office of Carlie E. Young, PllC (In Progress)</a></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Resume</h3>
    <h4>I am outgoing, cheerful, and an extremely effective communicator. Comfortable working in any client facing role, or with folks of diverse backgrounds, I excel at both team oriented work as well as individualized tasks.</h4>
    <h5>RELEVANT WORK EXPERIENCE</h5>
    <h6>Recruiter Assistant | New Iron Group, Inc</h6>
    <h6>Mar 2016 - Present</h6>
    <ul>
      <li>Coordinate supervising recruiter’s Google Calendar events: set phone screens with qualified candidates and supervisor based on skill set, location, and work status. Responsible for setting Google Calendar events for client-to-candidate  interview events.</li>
      <li>Conduct phone screens for candidates based on supervising recruiter’s assignment, recommend submission of highly-qualified candidates to supervising recruiter</li>
      <li>Maintain accurate data entry on a weekly basis - via internal software, DropBox, and Google Spreadsheet</li>
      <li>Responsible for writing, reviewing, and editing weekly job descriptions to post on Dice.com and Monster.com</li>
      <li>Triage incoming applicant resumes from main office Gmail account based on relevant, available client positions</li>
      <li>Source qualified candidates through social media (LinkedIn, MeetUp) and community events</li>
      <li>Maintain Twitter account - doubled the number of followers since April of 2016</li>
    </ul>
    <h6>Calendar Coordinator / Admin Assistant | Douglas Foundation Repair, LLC</h6>
    <h6>Mar 2015 - Mar 2016</h6>
    <ul>
      <li>Maintained phone lines with professional phone etiquette. Take client information regarding foundation concerns and accurate contact information. Set discretionary appointments for sales representatives</li>
      <li>Responsible for accurate and timely money collection, process large credit card payments over the phone with both clients and vendors, invoice clients, coordinate payment schedules</li>
      <li>Maintained accurate data entry in Google Spreadsheet and Google Calendar, maintain Twitter and Facebook accounts, as well as office Gmail account</li>
      <li>Accurately quoted mud-jacking prices for sinking driveways based on photos provided by clients</li>
    </ul>
  </div>
</div>
</div>
-----------------------------<!-- 
<div class="row">
	<div class="large-12 columns">
		<h1 class="name">About Me</h1>
	</div>
</div>

<div class="opacity"></div>
<div class="row">
	<div class="large-12 columns"><!-- <img class="emma" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/081/0a3/30b727c.jpg"> --><%= image_tag "emmapic.png", class: 'emma' %></div>
</div>

<div class="row">
	  <div class="makersquare">
	  <p>I am a SHSU graduate with a Bachelor of Arts in History and a double minor in Political Science/English. My first ​post-college ​career was that of a community organizer/fundraiser for several environmental non-profits and political campaigns. I then moved ​to ​work as an Executive Assistant for a Realtor in The Woodlands, Texas, where I became fascinated with Technology and first stumbled across web development. I was privileged to attend <a href="http://www.makersquare.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>MakerSquare</u></a> the first year it opened it's doors in Austin and was honored to work an internship at <a href="http://www.astonishdesign.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Astonish Design</u></p>
	  </div>
</div>
<div class="opacity"></div> -->