<div class="row">
	<div class="large-12 columns">
		<h1 class="name">About Me</h1>
	</div>
</div>

<div class="opacity"></div>
<div class="row">
	<div class="large-12 columns"><!-- <img class="emma" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/081/0a3/30b727c.jpg"> --><%= image_tag "emmapic.png", class: 'emma' %></div>
</div>

<div class="row">
	  <div class="makersquare">
	  <p>I am a SHSU graduate with a Bachelor of Arts in History and a double minor in Political Science/English. My first ​post-college ​career was that of a community organizer/fundraiser for several environmental non-profits and political campaigns. I then moved ​to ​work as an Executive Assistant for a Realtor in The Woodlands, Texas, where I became fascinated with Technology and first stumbled across web development. I was privileged to attend <a href="http://www.makersquare.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>MakerSquare</u></a> the first year it opened it's doors in Austin and was honored to work an internship at <a href="http://www.astonishdesign.com/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Astonish Design</u></p>
	  </div>
</div>
<div class="opacity"></div>