<div class="row parallax">
	<div class="large-12 columns">
		<h1 class="name">Contact Info</h1>
	</div>
</div>

<div class="opacity"></div>
<div class="row">
	<div class="large-12 columns"><!-- <img class="emma" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/081/0a3/30b727c.jpg"> --><%= image_tag "emmapic.png", class: 'emma' %></div>
</div>

<div class="row">
	  <div class="small-6 columns"><a href="https://twitter.com/GoddessInnana" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="twitter button" src="http://designpieces.com/wp-content/uploads/2013/01/shape-twitter.png"> -->
	  <%= image_tag "twitter.png", class: 'twitter button' %></a>
	  </div>
	 
	  <div class="small-6 columns"><a href="https://www.linkedin.com/pub/emma-laroche/3a/111/8b9" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="linkedin button" src="http://www.iconpng.com/png/ios7_icons/linkedin.png">--><%= image_tag "linkedin.png", class: 'linkedin button' %></a>
	  </div>
</div>
<div class="row">
	<div class="small-12 columns">
		<a href="https://github.com/erlaroche" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><!-- <img class="octocat button" src="http://reno.gov/home/showimage?id=6126"> --><%= image_tag "octocat.png", class: 'octocat button' %></a>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<address class="makersquare">
		<h2>Email me at:<a href="mailto:E.R.Laroche@gmail.com"><u><h4>E.R.Laroche@gmail.com</h4></u></a>
		<img class="email" src="http://www.livingsnoqualmie.com/wp-content/uploads/2014/10/letter1.gif" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"/>
		</h2>
		<h4>Please visit my <a href="https://twitter.com/GoddessInnana" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>Twitter</u></a>, <a href="https://www.linkedin.com/pub/emma-laroche/3a/111/8b9" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>LinkedIn</u></a>, and <a href="https://github.com/erlaroche" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;"><u>GitHub!</u></a></h4>
		</address>
	</div>
</div>

<div class="opacity"></div>