<div class="row">
	<div class="large-12 columns">
		<h1 class="name">Emma Laroche</h1>
	</div>
</div>

<div class="row">
  <div class="small-6 columns"><a href="https://twitter.com/GoddessInnana"><img class="twitter" src="http://designpieces.com/wp-content/uploads/2013/01/shape-twitter.png"></a>
  </div>
  <div class="small-6 columns"><a href="https://www.linkedin.com/pub/emma-laroche/3a/111/8b9"><img class="linkedin" src="http://www.iconpng.com/png/ios7_icons/linkedin.png"></a></div>
</div>

<div class="row">
	<div class="large-12 columns"><img class="emma" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/081/0a3/30b727c.jpg"></div>
</div>
