// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*universal styles*/
body {
	background-image: image-url('blue.jpg');
	font-family: Verdana;
}
/*center name*/
h1.name {
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	font-size: 40px;
	margin-top: 60px;
	margin-left: 30px;
	margin-right: -250px;
	background-color: #e5e5ff;
}
/*resize twitter image */
img.twitter {
	height: 100px;
	float: left;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*resize linkedin img*/
img.linkedin {
	float: right;
	height: 100px;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*resize octocat img*/
img.octocat {
	height: 200px;
	border: 2px solid black;
	border-radius: 15px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*resize email img*/
img.email {
	height: 200px;
}
/*	make profile pic circular, add box shadow and border*/
img.emma {
	border: 2px solid;
	height: 300px;
	border-radius: 150px;
	margin-top: 75px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: -25px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*style for content*/
.technology {
	background-color: #b2b2ff;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
}
.makersquare {
	background-color: #b2b2ff;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
}
/*create dividing divs*/
.opacity {
	height: 200px;
}
/*.row {
	background-color: #e5e5ff;
}*/
/*add parallax effect*/
.parallax {
	position: fixed;
	height: 90%;
	width: 90%;
	top: 0;
}
 /*unvisited link*/
a:link {
    color: #663300;
}

 /*visited link */
a:visited {
    color: 	#291400;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: purple;
}
a:hover.button {
	cursor: pointer;
}
.button {
	box-shadow: 10px 10px 5px #888888;
}

